{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="hero">

    <div class="hero-left">

        <span class="badge">
            AI Powered Healthcare
        </span>

        <h1>
            AI Health
            <span>Risk Predictor</span>
        </h1>

        <p>
            Predict your health risk using Artificial Intelligence and Machine Learning.
            Enter your health details and receive instant prediction.
        </p>

        <a href="{% url 'register' %}" class="btn">
            Get Started
        </a>

    </div>

    <div class="hero-center">
        <img src="{% static 'images/doctor.jpg' %}" alt="Doctor" class="hero-img">
    </div>

</section>

<!-- ================= FEATURES ================= -->

<section class="features">

    <h2 class="section-title">Our Features</h2>

    <div class="feature-container">

        <div class="feature-card">
            <div class="icon">🧠</div>
            <h3>AI Analysis</h3>
            <p>Machine Learning model analyzes your health data accurately.</p>
        </div>

        <div class="feature-card">
            <div class="icon">⚡</div>
            <h3>Instant Prediction</h3>
            <p>Get your health risk prediction within seconds.</p>
        </div>

        <div class="feature-card">
            <div class="icon">🔒</div>
            <h3>Secure Data</h3>
            <p>Your information is protected using Django authentication.</p>
        </div>

    </div>

</section>
{% endblock %}
