{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="form-section">

    <div class="form-container fade-in">

        <h2>Health Login</h2>

        {% if messages %}
            {% for message in messages %}
                <p class="msg {{ message.tags }}">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="form-group">
                <input
                    type="text"
                    name="username"
                    placeholder="Username"
                    required>
            </div>

            <div class="form-group">
                <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    required>
            </div>

            <button type="submit">
                Login
            </button>

        </form>

        <div class="form-footer">
            <p>
                Don't have an account?
                <a href="{% url 'register' %}">
                    Register
                </a>
            </p>
        </div>

    </div>

</section>

{% endblock %}