{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="result-section">

    <div class="result-card fade-in">

        <h2>Medicine Information</h2>

        <form method="POST">

            {% csrf_token %}

            <div class="form-group">
                <input
                    type="text"
                    name="medicine"
                    placeholder="Enter Medicine Name"
                    required>
            </div>

            <button type="submit">
                Search Medicine
            </button>

        </form>

        {% if data %}

            <table class="mt-3">

                <tr>
                    <th>Field</th>
                    <th>Information</th>
                </tr>

                <tr>
                    <td><b>Name</b></td>
                    <td>{{ data.name }}</td>
                </tr>

                <tr>
                    <td><b>Purpose</b></td>
                    <td>{{ data.purpose }}</td>
                </tr>

                <tr>
                    <td><b>Warning</b></td>
                    <td>{{ data.warning }}</td>
                </tr>

                {% if data.error %}
                <tr>
                    <td><b>Status</b></td>
                    <td>{{ data.error }}</td>
                </tr>
                {% endif %}

            </table>

        {% endif %}

    </div>

</section>

{% endblock %}